*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 3rem;
}
.header{
    width: 1300px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.menu a{
    margin: 20px;
    color: rgb(39, 39, 39);
    font-size: 1.2rem;
    text-decoration: none;
}
.menu a:hover{
    color: rgb(131, 131, 131);
}